@page
@model CarRentalsRazor.Pages.CarPictures.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="row">
    <h4>CarPicture</h4>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarPicture.CarId" class="control-label"></label>
                <input asp-for="CarPicture.CarId" class="form-control" value="@Model.CarId" readonly />
                <span asp-validation-for="CarPicture.CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarPicture.PictureUrl" class="control-label"></label>
                <input asp-for="CarPicture.PictureUrl" class="form-control" />
                <span asp-validation-for="CarPicture.PictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit"><i class="fa fa-check" style="color:green"></i> Add</button>
            </div>
        </form>
    </div>
    <div>
        <a asp-page="/Cars/Edit" asp-route-id="@Model.CarId">Back to Edit</a>
    </div>
    <br>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert-danger">
            <strong>Error!</strong> @Model.ErrorMessage
            <button class="close alert" onclick="$(this).parent().remove();">Close</button>
        </div>
    }
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
