@using CarRentalsRazor.Models;
@model List<CarPicture>;

<table class="table">
     <tbody>
        <h2>Pictures</h2>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="car-picture" src=@Html.DisplayFor(modelItem => item.PictureUrl) alt="Picture" />
                    @if (Models.CurrentUser.IsAdmin)
                    {
                        <a asp-page="/CarPictures/Delete" asp-route-id="@item.Id">Delete Picture</a>
                    }
                    <br>
                </td>
            </tr>
        }
    </tbody>
</table>